@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");
.main {
  /* position: relative; */
  background-color: #21209c;

  background-size: contain;
  color: white;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}

.introWrapper {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.introText {
  position: relative;
  z-index: 2;
  font-size: 1rem;
}

.introText > p {
  font-weight: bold;
  font-size: 3rem;
}

.ellipse {
  position: absolute;
  left: -80px;
  width: 250px;
  top: 50px;
  z-index: 1;
}

.polygon {
  position: absolute;
  right: 60px;
  top: 120px;
  width: 290px;
  z-index: 1;
}

.aboutWrapper {
  position: relative;
  z-index: 3;
  margin-top: -30px;
}

.me {
  width: 350px;
  height: 320px;
  object-fit: contain;
  position: relative;
  z-index: -1;
  object-position: bottom center;
}
.intro {
  font-weight: bold;
  font-size: 3rem;
}
.aboutText {
  position: relative;
  z-index: 3;
  padding: 40px 160px;
  background-color: rgb(31, 60, 136, 0.7);
  border-radius: 20px;
}

.wave {
  width: 100%;
  left: 0;
  bottom: 0px;
  position: absolute;
  z-index: 3;
}

.services {
  position: relative;
  z-index: 3;
}

.servicesWrapper {
  position: relative;
  z-index: 3;
  padding-top: 100px;
}

.serviceTitle {
}

.servicesList {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
}

.serviceEllipse1 {
  position: absolute;
  bottom: -180px;
  right: 80px;
  width: 300px;
}

.servicesList > div {
  margin: 10px;
  width: 250px;
}

.serviceSVG {
  width: 400px;
  top: 0;
  position: absolute;
}

.serviceImage {
  width: 150px;
  margin-left: 30px;
  display: block;
}

/* Portfolio */
.portfolio {
  background-color: #f4f4f4;
  position: relative;
  z-index: 2;
  color: black;
  min-height: 70vh;
}

.portfolioSVG {
  position: absolute;
  top: -60px;
  left: 10px;
  z-index: 4;
  width: 400px;
}

.portfolioTitle {
  padding-top: 130px;
  color: #21209c;
}
@media screen and (max-width: 900px) {
  .introText > p {
    font-weight: bold;
    font-size: 2.2rem;
  }

  .serviceEllipse1 {
    position: absolute;
    bottom: -105px;
    right: 30px;
    width: 150px;
  }
  .polygon {
    z-index: 2;
    top: 120vh;
    right: 0;
    width: 180;
    display: none;
  }
  .aboutText {
    padding: 0 20px;
  }

  .me {
    width: 220px;
    height: 340px;
  }

  .introWrapper {
    padding-top: 30px;
  }

  .aboutTitle {
    position: absolute;
    width: 60%;
    bottom: 10px;
    left: 100px;
  }

  .portfolioSVG {
    position: absolute;
    top: -60px;
    left: 10px;
    z-index: 4;
    width: 400px;
  }
}

@media screen and (min-width: 900px) {
  .aboutTitle {
    position: absolute;
    /* width: 180px; */
    top: 5px;
    right: 190px;
  }
}
